{% extends 'base.html.twig' %}

{% block body %}
    <div class="table-responsive mt-3">
        <table class="table border">
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Date</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for day in days %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ day.name | capitalize }}</td>
                    <td>{{ day.date|date("Y/m/d") }}</td>
                    <td>
                        <a href="{{ path('read', { id: day.id }) }}" class="btn btn-primary">Preview</a>
                        <a href="{{ path('delete', { id: day.id }) }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('create') }}" class="btn btn-primary float-right">New Day</a>
    </div>
{% endblock %}